PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://kolaapravinmfai_db_user:zWaITINe6ANJE0tp@cluster0.q9adbbj.mongodb.net/?appName=Cluster0
JWT_SECRET=Damn_Domn_This_is_a_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173